<h1>Login</h1>

    <form name="login" ng-submit="vm.login()">
        <div class="row">
            <div class="col-xs-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.username"
                    autocapitalize="none"  />
            </div>
        </div></br>
        <div class="row">
            <div class="col-xs-3">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" placeholder="Password" ng-model="vm.password"
                    autocapitalize="none"  />
            </div>
        </div></br>
        <div class="row">
            <div class="col-xs-3">
                <button type="submit" class="btn btn-success">Login</button>
            </div>
        </div>
    </form> <br/>

    <form name="goRegister" ng-submit="vm.goRegister()">
        <button type="submit" class="btn btn-success">Register</button>
    </form>